@font-face {
  font-family: 'TimeFont';
  src: url('../../public/assets/fonts/4f05ba3a6752a328-s.p.woff2');
}

.splash-screen {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  color: white;
  position: relative;
  font-family: 'Segoe UI', sans-serif;
}

.time-date {
  position: absolute;
  bottom: 100px;
  left: 50px;
  text-align: left;
}

.time-date h1 {
  font-family: 'TimeFont', sans-serif;
  font-size: 120px;
  margin: 0;
}

.time-date h2 {
  font-size: 32px;
  margin: 10px 0;
}

.time-date p {
  font-size: 16px;
  opacity: 0.8;
}